.user-info {
    background-color: #1565c0; /* Match the button's background color */
    color: white; /* Match the button's text color */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Round the corners */
    display: inline-block; /* Make it look like a button */
    margin-left: 8px; /* Add some space between the icon and the name */
    font-weight: bold; /* Make the font bold */
  }
  .header {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Padding for spacing */
    background-color: #333; /* Background color for the header */
  }
  
  .menu-icon {
    display: none; /* Hide by default */
  }
 
  @media (max-width: 900px) {
    .menu-icon {
      display: block; /* Show menu icon on small screens */
    }
  
    .header h3 {
      font-size: 24px; /* Smaller font size for mobile */
    }
  }
 
  
  .user-info {
    display: flex;
    align-items: center;
  }
  